body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 73%);
}

#myH1{
    font-size: 4rem;
    font-family: "Arial", sans-serif;
    color: hsl(0, 0, 25);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 5px solid;
    border-radius: 50px;
    background-color: white;
}

#display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 2%, 24%);
    text-shadow: 2px 2px 2px hsla(0, 3%, 41%, 0.526);
    margin-bottom: 25px;
}

#controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 30px;
    margin: 5px;
    min-width: 125;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.5s ease;

}

#startBtn{
    background-color: rgb(25, 179, 25);
}

#startBtn:hover{
    background-color: rgb(57, 223, 57);
}

#stopBtn{
    background-color: rgb(189, 21, 21);
}

#stopBtn:hover{
    background-color: rgb(239, 65, 65);
}

#resetBtn{
    background-color: rgb(34, 163, 198);
}

#resetBtn:hover{
    background-color: rgb(62, 183, 243);
}